.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
  opacity: 0.8;
  border-radius: 16px;
}

.App footer {
  text-align: center;
  font-size: 11px;
  margin: 10px 0;
}
