.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
}

.App footer {
  text-align: center;
  font-size: 11px;
  margin: 10px 0;
}
