.weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #a1a4a7;
  padding: 86px;
  border-radius: 4px;
  color: rgb(37, 35, 35);
}

.weather h1 {
  margin: 20px 0 0 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.weather canvas {
  margin: 10px auto;
}

.weather .temperature {
  font-weight: bold;
  color: rgb(22, 22, 22);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.weather .unit {
  color: rgb(22, 22, 22);
  font-weight: 400;
  font-size: 16px;
  position: relative;
  line-height: 1;
  top: -34px;
}
